{% load staticfiles %}

<link rel="stylesheet" type="" href="{% static 'bs/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="" href="{% static 'fa/css/fa.min.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bs/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>